@import "_variables.scss";
@import "_mixin.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:  'Nunito', sans-serif;
}
.navbar {
    background-color: transparent;
    -webkit-transition: all .5s;
    transition: all .5s;
    position: sticky;
    margin: 0;
}

.nav-link{
    font-weight: 300;
}

.navbar-brand{
    color: blue;
    font-size: 25px;
    font-weight: 600;
}

.carousel-item{
    min-height: 450px;
    background-size: cover;
    filter: brightness(80%);
}

.card-body{
    height: 300px;
    width: auto;
    margin: 20px;
    border-radius: 10px;
}

#card-select{
    height: 280px;
    width: auto;
    margin: 20px;
    border-radius: 10px;  
}


#card-select2{
    height: 180px;
    width: auto;
    margin: 20px;
    border-radius: 10px;  
}

#card-tasaciones{
    height: 550px;
}

.form-index{
    width: 500px;
    align-items: center
}

.row{
margin: 0;
align-items: center;
}

select{
    text-align: center;
}

.btn:hover{
    background-color: black;
    transition: 0.5s;
}

.publica{
    background-color: rgb(248, 246, 246);
    margin: 0;
    padding: 0;
    text-align: left;
    padding: 5px;
}

.publica h2{
    font-weight: 600;
}

.btn2{
    height: 45px;
    width: 200px;
    outline: none;
    border: none;
    border-radius: 15px;
}

.btn2:hover{
    background-color: grey;
    transition: 0.5s;
}

.propiedades{
    background-color:rgb(240, 240, 240);
}

.btn3{
    height: 55px;
    width: 300px;
    font-size: 20px;
    outline: none;
    border: none;
    align-items: center;
    border-radius: 30px;
}

.btn3:hover{
    background-color: grey;
    transition: 0.5s;
}

.card-img-top{
    height: 300px;
    width: auto;
}

#contact{
    text-align: left;
}

.contacto{
    background-color: rgb(248, 246, 246);
}

footer{
    background-color: rgb(1, 1, 49);
    color: white;
    min-height: 75px;
}

.fab{
    font-size: 25px;
    color: gray;
    align-items: flex-end;
    justify-content: flex-end;
}

.fab:hover{
    color: white;
    transition: 0.5s;
}
.tasaciones{
    height: 700px;
    background-image: url(../images/unnamed3.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.tasaciones h1{
    margin-top: 250px;
    font-size: 40px;
    font-weight: 600;
    color: white;
    filter: none;
}

.nosotros{
    background-color:rgb(248, 246, 246);
    &__titulo{
        @include textos ($colorFooter, $font-size);
        font-weight: 500;
        text-align: center;
        padding-top: 20px;
    }
    &__parrafo{
        font-size: 19px;
        color: black;
        padding: 20px;
    }
}


.imagenNosotros{
   background-size: cover;
   width: 100%;
   margin: 0;
   height: 350px;
   filter: brightness(80%);
}

.boton{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 600;
    border-radius: 20px;
    border: none;

    &--oscuro{
        background-color: rgb(1, 1, 49);
        color: white;
    }
}

.titulos{
    text-align: center;
    @include textos ($colorFooter, $font-size);
    font-weight: 400px;

&__contacto{
    padding: 40px;
}
}

.parrafo{
    @extend .titulos;
    font-size: 20px;
    text-align: center;
    font-weight: 400px;
}

.conocenos{
    margin: 0;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 30px;
    align-items: center;
    justify-content: center;
    background-color: $colorFondoUno;

}

.video{
    background-color: $colorFondoUno;

}

.Servicios{
    padding: 10px;
    padding-bottom: 40px;
    display: grid;
    grid-template-rows: 40% 60%;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: white;

}

.servicio{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 30px;
}


.dondeEstamos{
    padding: 30px;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 30px;
    align-items: center;
    justify-content: center;
    background-color: $colorFondoDos;

}
.servicio .item{
    display: inline-block; 
    text-align: center;
    padding: 10px;
}


.mapa{
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    grid-area: "mapa";
}

.mapa iframe{
    left: 0;
    top: 0;
    height: 300px;
    width: 100%;
    background-color: grey;
}

.titulo2{
   @extend .titulos;
   font-size: 35px;
   grid-area: "where";
   padding: 15px;

   &--tasaciones{
       font-size: 30px;
       text-align: center;
       padding-top: 20px;
   }

}



@media only screen and (max-width: 576px){
   
    .form-index{
        width: 250px;
        align-items: center
    }

    .carousel-item{
        min-height: 600px;
        background-size: cover;
    }
    
    .carousel-item img{
        height: 600px;
    }

    .Servicios{
        padding: 10px;
        height: 700px;
        grid-template-rows: 10% 90%;
    }
    .servicio{
        grid-template-columns: 1fr;
        grid-gap: 5px;
        padding: 0px;

    }
    .conocenos{
        grid-template-columns: 1fr;
        grid-template-rows: repeat (2, 1fr);
        width: 500px;
    }

    .card-img-top{
        height: auto;
        width: auto;
    }
}
@media (max-width:768px) and (min-width:576px){
    
    .form-index{
        width: 300px;
        align-items: center
    }

    .carousel-item{
        height: 600px;
        background-size: cover;
        width: 768px;
    }
    
    .carousel-item img{
        height: 600px;
        width: 768px;
    }

    .carousel-inner{
        height: 600px;
        width: 768px;
    }
  
    .card{
        width: 500px;
        align-items: center;
        justify-content: center;
    }
    .conocenos{
        grid-template-columns: 1fr;
        grid-template-rows: repeat (2, 1fr);
    }
    .card-img-top{
        height: auto;
        width: 500px;
    }
 }

 
 @media (max-width:992px) and (min-width:768px){
   
    .card{
        width: auto;
        align-items: center;
        justify-content: center;
        grid-gap: 5px;

    }
    .conocenos{
        grid-template-columns: 1fr;
        grid-template-rows: repeat (2, 1fr);
    }

    .card-body{
        height: 300px;
        width: auto;

    }
    .card-img-top{
        height: 300px;
        width: 310px;
    }
   
 }

 @media (min-width:993px){
    
    .card-img-top{
        height: 410px;
        width: 400px;
    }

    .card{
        width: auto;
        align-items: center;
        justify-content: center;
        grid-gap: 5px;

    }

 }

